<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ body }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page_url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ body }}">
    <meta property="og:image" content="{{ image_url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ body }}">
    <meta name="twitter:image" content="{{ image_url }}">
</head>
<body>
<img src="{{ image_url }}" alt="{{ title }}">
</body>
</html>
